.main-container {
    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
    justify-content: flex-start; 
}

.filter-panel {
    width:90%;
    max-width:350px;
    padding: 16px;
    background-color: #fff;
    position: relative;
    z-index: 1050;
    border: 1px solid #007bfff9;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius:10px;
}

.filter-panel-hidden {
    display: none; 
}
.mud-expand-panel-header {
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    margin: 5px auto;
}
    .mud-expand-panel-header:hover {
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
   }
.mud-expand-panel-text {
    font-weight: bold;
    font-size: 16px;
    text-align:center;
}
.product-section {
    flex-grow: 1;
    padding-left: 16px;
    transition: margin-left 0.3s ease;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.menu-bar {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 0;
    overflow-x: auto;
    white-space: nowrap;
}

.filter-chip {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
}

    .filter-chip:hover {
        border: 1px solid transparent;
        border-color: #1e88e5;
    }

.filter-text {
    color: #333;
    font-size: 14px;
}

.brand-chip {
    border: 1px solid #e0e0e0;
    background-color: #f2f4f7;
    border-radius: 12px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    box-shadow: 0 2px 4px #fff;
    flex-shrink: 0;
}

    .brand-chip:hover {
        box-shadow: 0 4px 8px #fff;
        border: 1px solid transparent;
        border-color: #1e88e5;
    }

.logo-brand {
    width: 100px;
    height: auto;
}

.logo-decription {
    width: 100px;
    height: auto;
}
.filter-button {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    text-align: center;
    border: 1px solid #007bfff9;
    border-radius: 30px;
    color: #ffff;
    background-color: #007bfff9;
    margin-top: 10px;
}
    .filter-button:hover {
        color: #007bfff9;
    }
/*Product css*/
.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 580px;
    max-width: 350px;
    padding: 16px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
}
    .product-card:hover {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    }

.product {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease;
}

    .product:hover {
        transform: scale(1.1);
    }

.img-product {
    width: 65%;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
}

.badge-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.badge {
    background-color: #ffe2e2;
    color: #e91e63;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 4px;
    text-align: center;
}


.product-name {
    position: absolute; 
    top: 235px; 
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 10px;
    left: 50%; 
    transform: translateX(-50%);
}

.specs {
    display: flex;
    gap: 8px;
    justify-content: center;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    height: 25px;
    margin-bottom: 0;
}

.spec {
    font-size: 18px;
    font-weight: bold;
    background-color: #f2f2f2;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    color: #333;
    text-align: center;
}

.product-details {
    text-align: left;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    gap: 5px;
    font-size: 13px;
    color: #666;
    width: 100%;
    padding: 10px;
    background: #f2f4f7;
    justify-content: center;
    height: 150px;
}

.price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
}

.price {
    font-size: 19px;
    font-weight: bold;
    color: red;
    margin-bottom: 5px;
}

.original-price {
    text-decoration: line-through;
    color: #999;
    font-size: 15px;
}

.rate {
    color: gold;
    fill: yellow;
    display: flex;
    justify-content: center;
    gap: 2px;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
}

.action-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    text-align: center;
    border: 1px solid #007bfff9;
    border-radius: 30px;
    color: #007bfff9;
}
    .action-button:hover {
        background-color: #007bfff9;
        color: #fff;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    }
.load-more-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.load-more-button {
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #0040fff9;
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 1px solid #0040fff9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

    .load-more-button:hover {
        color: #0040fff9;
        background-color: #fff;
    }
